div
    nav.menu
                ul.menu__list
                    each name in ['Главная', 'О компании', 'Услуги', 'Каталог', 'Контакты']
                        li
                            a(href="#")= name
