* {
	box-sizing: border-box;
}
h2 {
	text-transform: uppercase;
	color: rgb(162, 0, 255);
	text-align: center;
}
div {
	font-style: italic;
	text-align: center;
}
p {
	color: blanchedalmond;
	text-align: center;
}
.brown {
	color: green;
}
#heading {
	border-bottom: 1px solid #000;
}
a {
	color: blanchedalmond;
	text-decoration: none;
}
.href {
	color: blueviolet;
	text-align: right;
	font-size: 20px;
}
body {
	background-color: black;
}
img {
	margin-left: calc(50% - 225px);
}
